---

---

<div class="container mx-auto my-10 bg-red-100">
  <table class="min-w-[100%] divide-y divide-gray-700 mx-auto">
    <thead class="bg-gray-600">
      <tr>
        <th
          scope="col"
          class="px-6 py-3 text-left text-xs font-bold text-gray-300 uppercase tracking-wider"
          >Divisa</th
        >
        <th
          scope="col"
          class="px-6 py-3 text-left text-xs font-bold text-gray-300 uppercase tracking-wider"
          >Valor</th
        >
      </tr>
    </thead>
    <tbody class="bg-gray-800 divide-y divide-gray-700" id="table-body">
    </tbody>
  </table>
</div>

<template id="currency-row">
  <tr class="hover:bg-gray-700 transition duration-150">
    <td class="px-6 py-4 whitespace-nowrap font-medium text-cyan-400" id="code">
    </td>
    <td class="px-6 py-4 whitespace-nowrap text-gray-300" id="value"> </td>
  </tr>
</template>

<template id="pending-currency">
  <tr class="">
    <td class="text-center">
      <select
        class="bg-gray-800 min-w-full h-[38px] text-center text-white cursor-pointer"
        id="new-currency"
      >
        <option>COP</option>
        <option>ARS</option>
        <option>UYU</option>
      </select>
    </td>
    <td
      class="text-cyan-500 text-center p-2 cursor-pointer font-bold bg-gray-600"
      >+</td
    >
  </tr>
</template>

<script is:inline type="module">
  let currencies = ["COP", "UYU", "ARS", "CNY", "MXN", "PEN"];
  const $table = document.querySelector("#table-body");
  const $rowTemplate = document.querySelector("#currency-row");
  currencies.forEach(async (currency) => {
    const response = await fetch(`api/currency/${currency}`);
    const data = await response.json();

    const $row = $rowTemplate.cloneNode(true).content.querySelector("tr");
    $row.querySelector("#code").append(currency);
    $row.querySelector("#value").append(parseFloat(data.mid).toFixed(4));
    $table.appendChild($row);
  });
</script>
